APP_NAME=priceoptima
APP_DOMAIN=priceoptima.example.com

PORT=3000
NODE_ENV=production
TZ=Europe/Kyiv
LOG_LEVEL=info

TRAEFIK_NETWORK=proxy
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_TLS=true
TRAEFIK_CERTRESOLVER=cf

POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5432
